/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: no-repeat center center fixed;
  background-size: cover;
  background-image: url('cooking-up-mobile.png');
  height: 100vh;
  max-height: 100vh;
  width: 100vw;
  position: fixed;
  margin: 0;
}

.mobile {
  position: relative;
  top: 10rem;
}

nav {
  border-bottom: solid white 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_img {
  padding-top: .8rem;
  padding-left: .5rem;
  width: 8rem;
}

h1 {
  font-family: 'Rampart One';
  font-size: 5em;
  color: #CCAC58;
  margin-top: 0;
  position: relative;
  top: 5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.center {
  display: flex;
  align-items: center; 
  flex-direction: column;
}
h2 {
  color: #CCAC58;
  font-family: 'Rampart One';
}

button {
  background-color: #CCAC58;
  padding: .5rem;
  border-radius: .3rem;
  width: 9rem;
}

.toggle-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 4rem;
  cursor: pointer;
  transition: all .5s ease-in-out;
  /* border: 0.2rem solid black; */
}

.stroke {
  width: 2rem;
  height: 0.3rem;
  background-color: #CCAC58;
  border-radius: 1rem;
  /* box-shadow: 0 2px 5px rgb(255, 255, 255, .2); */
  transition: all .5s ease-in-out;
}

.stroke::before,
.stroke::after {
  content: '';
  position: absolute;
  width: 2rem;
  height: 0.3rem;
  background-color: #CCAC58;
  /* box-shadow: 0 2px 5px rgb(255, 255, 255, .2); */
  border-radius: 1rem;
 }

.stroke::before {
  transform: translateY(-0.5rem);
}

.stroke::after {
  transform: translateY(0.5rem);
} 

/* ANIMATION */
.toggle-button.open .stroke {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.toggle-button.open .stroke::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.toggle-button.open .stroke::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.dropdown {
  background-color: rgba(0, 0, 0, 0.621);
  color: white;
  /* width: 30%; */
  /* position: absolute; */
  /* right: 0; */
  text-align: center;
}

.dropdown div {
  border-bottom: 0.01rem white solid;
  padding: 1rem 2rem;
}